// ==============================================================
// _header.scss *****
// ==============================================================

.skeletor {
  @include center-block;
  @include img-responsive;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  text-align: center;

  @media all and (max-width: 500px) {
    font-size: 74px;
  }
}
