// ==============================================================
// _home.scss *****
// ==============================================================

.wrapper {
  width: percentage(950px / 1351px);
  max-width: 950px;
  margin: 0 auto;
  display: block;

  @media all and (max-width: 800px) {
    width: 95%;
  }
}

.screenshot {
  @include center-block;
  @include img-responsive;
  margin-bottom: 50px;
  width: 769px;
}

article:last-child {
  margin-bottom: 100px;
}
